tf-tutorial-5-az-iaas-openvpn-nva/.terraform.lock.hcl
tf-tutorial-5-az-iaas-openvpn-nva/.terraform/environment
tf-tutorial-5-az-iaas-openvpn-nva/.terraform/terraform.tfstate
tf-tutorial-5-az-iaas-openvpn-nva/.terraform/terraform-provider-azurerm_v3.10.0_x5.exe
tf-tutorial-1-az-iaas-create-rgs/.terraform
tf-tutorial-1-az-iaas-create-rgs/.terraform/environment
tf-tutorial-1-az-iaas-create-rgs/.terraform/terraform.tfstate
tf-tutorial-1-az-iaas-create-rgs/.terraform/terraform-provider-azurerm_v3.10.0_x5.exe